<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aertigo | @ViewBag.Title</title>
    <link rel="stylesheet" href="~/Utilities/bootstrap-4.3.1-dist/css/bootstrap.min.css" />
    <script src="~/Utilities/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src="~/Utilities/Jquery/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
        <div class="container">
            @Html.ActionLink("Aertigo", "Home", "Home", new { @class = "navbar-brand", @style = "font-family: 'Rubik'; color: #FF8A5C; font-size: 20px;" })
            <form class="form-inline">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Welcome - @Session["email"].ToString()
                        </a>
                        <div class="dropdown-menu">
                            @Html.ActionLink("History", "History", "Home", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Account Setting", "Settings", "Home", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Log Out", "Logout", "Home", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </nav>
    @RenderBody()
    <div style="padding: 5px; background-color: #F77754;">
        <div class="container text-center text-dark" style="font-family: 'Rubik';">
            <p>2019 &copy; All Rights Reserved To Aertigo</p>
        </div>
    </div>
</body>
</html>